.addUsers {
}

.addUsers__form-control {
  display: block;
  margin: 2rem;
}

.addUsers__field {
  display: block;
  justify-content: center;
}

.addUsers__label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
